{% extends 'fanimic/base.html' %}
{% load static %}
{% block main_content %}

    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="title-box">
                        <div class="page-title-heading">
                            <h1 class="title">About Our Company</h1>
                        </div>
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="{% url 'index' %}"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
                            </span>
                            <span class="ttm-bread-sep"> &nbsp; ⁄ &nbsp;</span>
                            <span><span>About Us </span></span>
                        </div>  
                    </div>
                </div>
            </div>
        </div>                    
    </div><!-- page-title end-->


   <!--site-main start-->
   <div class="site-main">

    <!--empty-section2-->
    <div class="ttm-row empty-section2 ttm-bgcolor-grey res-991-ptb-0">
    </div>
    <!-- empty-setion2 end -->


    <!--intro-section-->
    <section class="ttm-row intro-section break-991-colum ttm-bgcolor-white clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-content pt-0 mt_110 res-991-mt-0 ttm-bgcolor-white box-shadow">
                        <div class="row">
                            <div class="col-lg-7 col-md-12">
                                <div class="pl-35 pr-35 pt-65 pb-35 res-991-plr-15">
                                    <!-- section-title -->
                                    <div class="section-title clearfix">
                                        <h5>TECTXON</h5>
                                        <h2 class="title">Introduce<strong>We Build Everything</strong></h2>
                                        <div class="heading-seperator"><span></span></div>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                            Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, 
                                            when an unknown printer took a galley of type and scrambled it to make a type 
                                            specimen book not only five centuries.
                                        </p>
                                    </div><!-- section-title end -->
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <!--featured-box-->
                                            <div class="featured-box style7 left-icon">
                                                <div class="featured-icon"> 
                                                    <i class="flaticon flaticon-worker"></i>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h5>Certified Enginners</h5>
                                                    </div>
                                                </div>
                                            </div><!-- featured-box end-->
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <!--featured-box-->
                                            <div class="featured-box style7 left-icon">
                                                <div class="featured-icon"> 
                                                    <i class="flaticon flaticon-conveyor"></i>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h5>Best Branding</h5>
                                                    </div>
                                                </div>
                                            </div><!-- featured-box end-->
                                        </div>
                                    </div>
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor mt-30" href="#">Read More</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- about-img -->
                                        <div class="post-img pt-70 pl-15 pb-60 pr-15 res-991-pb-30 mr_150 res-1460-mr_0">
                                            <img class="img-fluid" src="{% static 'fanimic/images/blog/04.jpg' %} " alt="">
                                        </div><!-- about-img end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!-- intro-section end -->

    
    <!--about-section-->
    <section class="ttm-row about-section mt-164 bg-layer bg-layer-equal-height break-991-colum ttm-bgcolor-white res-991-mt-0 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <!-- col-img-img-one -->
                    <div class="col-bg-img-thirteen ttm-col-bgimage-yes ttm-bg ttm-left-span">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer">
                            <div class="col-bg-img-thirteen"></div>
                        </div>
                        <div class="layer-content"></div>
                    </div><!-- col-img-bg-img-one end-->
                    <img src="{% static 'fanimic/images/bg-image/col-bgimage-13.jpg' %} " class="ttm-equal-height-image" alt="bg-image">
                </div>
                <div class="col-lg-7 col-md-12">
                    <!-- about-content -->
                    <div class="about-content ttm-bg ttm-col-bgcolor-yes ttm-right-span ttm-bgcolor-darkgrey padding-10">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <h5>WHAT WE DO</h5>
                                <h2 class="title">Our Mision Is<strong>Best In The Business!</strong></h2>
                                <div class="heading-seperator"><span></span></div>
                                <p>
                                    Tectxon has 23+ years of experience with providing wide area of 
                                    specialty services works listed below. A Company involved in servicing, 
                                    maintenance and repairs.
                                </p>
                            </div><!-- section title end -->
                            <!--featured-box-->
                            <div class="featured-box left-icon icon-size-sm icon-color-white">
                                <div class="featured-icon"> 
                                    <i class="ti ti-world"></i>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title ttm-textcolor-skincolor">
                                        <h5>OUR MISSION</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting 
                                            industry. ard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </div>
                            </div><!-- featured-box end-->
                            <!--featured-box-->
                            <div class="featured-box left-icon icon-size-sm icon-color-white">
                                <div class="featured-icon"> 
                                    <i class="ti ti-eye"></i>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title ttm-textcolor-skincolor">
                                        <h5>OUR VISION</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting 
                                            industry. ard dummy text ever since the 1500s,
                                        </p>
                                    </div>
                                </div>
                            </div><!-- featured-box end-->
                        </div>
                    </div><!-- about-content end-->
                </div>
            </div><!-- row end -->
        </div>
    </section>
    <!-- about-section end -->

    <!-- service-section -->
    <section class="ttm-row ttm-bgcolor-white break-991-colum service-section clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <!-- section-title -->
                    <div class="section-title style2 clearfix">
                        <h2 class="title">What We Do<strong>Our Big Solutions</strong></h2>
                        <p>
                            Stay up to date with our latest news, event schedules and corporate developments 
                            for new blogs.
                        </p>
                    </div><!-- section-title end -->
                </div>
                <div class="col-lg-3 col-md-12">
                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-border ttm-btn-color-black mt-30 mb-35 res-991-mt-0 float-right" href="#">Read More</a>
                </div>
            </div><!-- row end -->
            <div class="row">
                <div class="col-lg-6">
                    <!-- wrap-acadion -->
                    <div class="wrap-acadion">
                        <div class="accordion">
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >Why should i choose your company?</a></div>
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="toggle-figure">
                                                <img class="img-fluid" src="{% static 'fanimic/images/blog/04.jpg' %} " alt="image">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>
                                                Tectxon is committed to developing solutions that reduced 
                                                operating costs and alignment with energy.It also have major 
                                                resources.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" >How should i beleive about your services?</a></div>
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="toggle-figure">
                                                <img class="img-fluid" src="{% static 'fanimic/images/blog/04.jpg' %} " alt="image">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>
                                                Tectxon is committed to developing solutions 
                                                that reduced operating costs and alignment 
                                                with energy.It also have major resources.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >Tectxon standard blog and executive team.</a></div>
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="toggle-figure">
                                                <img class="img-fluid" src="{% static 'fanimic/images/blog/04.jpg' %} " alt="image">
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <p>
                                                Tectxon is committed to developing solutions 
                                                that reduced operating costs and alignment 
                                                with energy.It also have major resources.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                        </div>                   
                    </div><!-- wrap-acadion end-->
                </div>
                <div class="col-lg-6">
                    <div class="pb-35 res-991-pt-30 res-991-pb-0">
                        <!-- ttm-progress-bar -->
                        <div class="ttm-progress-bar ttm-icon-left-true">
                            <i class="ti ti-package"></i>
                            <h4>Production</h4>
                            <div class="progress" data-value="85%">
                                <div class="progress-bar progress-bar-color-bar_black">
                                    <div class="progress-parcent"><span>85</span>%</div>
                                </div>
                            </div>
                        </div><!-- ttm-progress-bar end -->
                        <!-- ttm-progress-bar -->
                        <div class="ttm-progress-bar ttm-icon-left-true">
                            <i class="ti ti-light-bulb"></i>
                            <h4>Technology</h4>
                            <div class="progress" data-value="70%">
                                <div class="progress-bar progress-bar-color-bar_black">
                                    <div class="progress-parcent"><span>70</span>%</div>
                                </div>
                            </div>
                        </div><!-- ttm-progress-bar end -->
                        <!-- ttm-progress-bar -->
                        <div class="ttm-progress-bar ttm-icon-left-true">
                            <i class="ti ti-face-smile"></i>
                            <h4>Satisfaction</h4>
                            <div class="progress" data-value="85%">
                                <div class="progress-bar progress-bar-color-bar_black">
                                    <div class="progress-parcent"><span>85</span>%</div>
                                </div>
                            </div>
                        </div><!-- section title end -->
                        <!-- ttm-progress-bar -->
                        <div class="ttm-progress-bar ttm-icon-left-true">
                            <i class="ti ti-time"></i>
                            <h4>Service on Time</h4>
                            <div class="progress" data-value="85%">
                                <div class="progress-bar progress-bar-color-bar_black">
                                    <div class="progress-parcent"><span>85</span>%</div>
                                </div>
                            </div>
                        </div><!-- section title end -->
                        <!-- ttm-progress-bar -->
                        <div class="ttm-progress-bar ttm-icon-left-true">
                            <i class="ti ti-headphone-alt"></i>
                            <h4>Maintainance Service</h4>
                            <div class="progress" data-value="85%">
                                <div class="progress-bar progress-bar-color-bar_black">
                                    <div class="progress-parcent"><span>85</span>%</div>
                                </div>
                            </div>
                        </div><!-- section title end -->
                    </div>
                </div>
            </div><!-- row end-->
        </div>
    </section>
    <!-- service-section end -->


    <!-- testimonial-section -->
    <section class="ttm-row testimonial-section bg-layer break-1199-colum clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-7">
                   <div class="about-content ttm-col-bgcolor-yes ttm-bg ttm-left-span ttm-bgcolor-darkgrey padding-2">
                        <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                        <div class="layer-content">
                            <!-- section title -->
                            <div class="section-title clearfix">
                                <h5>CLIENTS</h5>
                                <h2 class="title">Happy with<strong>Customers & Clients</strong></h2>
                                <div class="heading-seperator"><span></span></div>
                                <p>
                                    If you need any industrial solution we are available 
                                    for you. Lorem ipsum dolor sit amet, consectetur adipiscing 
                                    elit, sed do eiusmod tempor incididunt ut labore et 
                                    dolore magna aliqua.
                                </p>
                            </div><!-- section title end -->
                            <a class="ttm-btn btn-inline ttm-icon-btn-right ttm-btn-color-white mb-20" href="#"><i class="ti ti-arrow-right"></i>Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- testimonial-box -->
                    <div class="mt-60 testimonial-box">
                        <div class="ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-skincolor ml_170">
                            <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                            <div class="layer-content">
                                <!-- wrap-testimonial -->
                                <div class="testimonial-slide owl-carousel" data-nav="true" data-dots="false" data-auto="true">
                                    <!-- testimonials -->
                                    <div class="testimonials style3 text-center"> 
                                        <div class="testimonial-content ttm-bgcolor-white">
                                             <div class="testimonial-caption">
                                                <h6>Robert Clarkson</h6>
                                                <label>CEO, Axura</label>
                                            </div>
                                            <p>
                                                The team at Tectxon industry is very talented, dedicated, 
                                                well organized and knowledgeable. I was most satisfied 
                                                with the quality of the workmanship. They did excellent 
                                                work.
                                            </p>
                                        </div>
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img">
                                                <img class="img-center" src="{% static 'fanimic/images/testimonial/01.jpg' %} " alt="testimonial-img">
                                            </div>
                                        </div>
                                    </div><!-- testimonials end -->
                                    <!-- testimonials -->
                                    <div class="testimonials style3 text-center"> 
                                        <div class="testimonial-content ttm-bgcolor-white">
                                             <div class="testimonial-caption">
                                                <h6>Robert Clarkson</h6>
                                                <label>CEO, Axura</label>
                                            </div>
                                            <p>
                                                The team at Tectxon industry is very talented, 
                                                dedicated, well organized and knowledgeable. I was 
                                                most satisfied with the quality of the workmanship. 
                                                They did excellent work.
                                            </p>
                                        </div>
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img">
                                                <img class="img-center" src="{% static 'fanimic/images/testimonial/02.jpg' %} " alt="testimonial-img">
                                            </div>
                                        </div>
                                    </div><!-- testimonials end -->
                                    <!-- testimonials -->
                                    <div class="testimonials style3 text-center"> 
                                        <div class="testimonial-content ttm-bgcolor-white">
                                             <div class="testimonial-caption">
                                                <h6>Robert Clarkson</h6>
                                                <label>CEO, Axura</label>
                                            </div>
                                            <p>
                                                The team at Tectxon industry is very 
                                                talented, dedicated, well organized and 
                                                knowledgeable. I was most satisfied with the 
                                                quality of the workmanship. They did excellent work.
                                            </p>
                                        </div>
                                        <div class="testimonial-avatar">
                                            <div class="testimonial-img">
                                                <img class="img-center" src="{% static 'fanimic/images/testimonial/03.jpg' %} " alt="testimonial-img">
                                            </div>
                                        </div>
                                    </div><!-- testimonials end -->
                                </div><!-- wrap-testimonial end-->
                            </div>
                        </div>
                    </div><!-- testimonial-box end-->
                </div>
            </div><!-- row end-->
        </div>
    </section>
    <!-- skill-section end-->



    <!--client logo start-->
    <div class="ttm-row client-section ttm-bgcolor-white mt_140 res-991-mt-0 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row text-center">
                <div class="col-md-12">
                    <!-- ttm-client -->
                    <div class="clients-logo owlCarousel" data-nav="false" data-dots="false" data-auto="true">
                        <div class="client">
                            <div class="ttm-client-logo-tooltip" data-tooltip="Gear Service">
                                <img src="{% static 'fanimic/images/client/client-01.png' %} " alt="image">
                            </div>
                        </div>
                        <div class="client">
                            <div class="ttm-client-logo-tooltip" data-tooltip="GreenHand">
                                <img src="{% static 'fanimic/images/client/client-02.png' %} " alt="image">
                            </div>
                        </div>
                        <div class="client">
                            <div class="ttm-client-logo-tooltip" data-tooltip="GearInfinite">
                                <img src="{% static 'fanimic/images/client/client-03.png' %} " alt="image">
                            </div>
                        </div>
                        <div class="client">
                            <div class="ttm-client-logo-tooltip" data-tooltip="Excavator">
                                <img src="{% static 'fanimic/images/client/client-04.png' %} " alt="image">
                            </div>
                        </div>
                        <div class="client">
                            <div class="ttm-client-logo-tooltip" data-tooltip="Data Bars">
                                <img src="{% static 'fanimic/images/client/client-05.png' %} " alt="image">
                            </div>
                        </div>
                        <div class="client">
                            <div class="ttm-client-logo-tooltip" data-tooltip="Oil & Gas">
                                <img src="{% static 'fanimic/images/client/client-07.png' %} " alt="image">
                            </div>
                        </div>
                    </div><!-- ttm-client end -->      
                </div>
            </div><!-- row end -->
        </div>
    </div>
    <!--client logo end-->

</div><!--site-main end-->

{% endblock %}

    