{% extends 'fanimic/base.html' %}
{% load static %}
{% block main_content %}
    
    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="title-box">
                        <div class="page-title-heading">
                            <h1 class="title">Agriculture</h1>
                        </div>
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="{% url 'index' %}"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
                            </span>
                            <span class="ttm-bread-sep"> &nbsp; ⁄ &nbsp;</span>
                            <span><span>Agriculture</span></span>
                        </div>  
                    </div>
                </div>  
            </div> 
        </div>                  
    </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

        <!-- ttm-sidebar -->
        <section class="ttm-sidebar ttm-bgcolor-grey clearfix">
            <div class="container">
                <!-- row -->
                <div class="row ttm-sidebar-left">
                    <div class="col-lg-9 content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-35">
                                    <h3>Agriculture Services</h3> 
                                    <!-- 4381095508 peter amechi eco -->
                                    <p>
                                        Fanimic Global Resource is a limited company 
                                        established in Nigeria. It specializes in 
                                        general agricultural business and services including: Palm Oil Production,
                                        Fumigation and Gardner.

                                        Fanimic Global Resource Limited has a team of 
                                        dedicated professionals including horticulturists/agronomists, 
                                        agricultural economists, soil scientists, natural resource 
                                        management experts, agribusiness and enterprise development 
                                        professionals, animal health scientists, food scientists, 
                                        business developers, social science professionals and agricultural 
                                        engineers. <strong> Few can match for our promise to safety and 
                                        commitment to our products and services.</strong>  with latest technology, equipment.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- portfolio-slide -->
                            <div class="col-lg-12 ttm-boxes-spacing-5px portfolio-slide owl-carousel owl-theme owl-loaded">
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-12.jpg' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-11.jpg' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-5.jpg' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-4.jpg' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-10.png' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-2.jpg' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                                
                                <div class="ttm-box-col-wrapper">
                                    <!-- featured-item -->
                                    <div class="featured-item featured-portfolio-item">
                                        <div class="featured-thumbnail">
                                            <a href=""> <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-9.jpg' %} " alt="image"></a>
                                        </div>
                                    </div><!-- featured-item -->
                                </div>
                            </div>

                            <div class="col-md-8 pr-5 res-767-plr-15"><img class="img-fluid pb-5" src="{% static 'fanimic/images/farm/agri-2.jpg' %}" alt="agri-2"></div>
                            <div class="col-md-4 pl-0 res-767-plr-15">
                                <img class="img-fluid pb-5" src="{% static 'fanimic/images/farm/agri-5.jpg' %}" alt="">
                                <img class="img-fluid pb-5" src="{% static 'fanimic/images/farm/agri-10.png' %}" alt="">
                            </div>
                        </div>
                       
                    </div>
                    <div class="col-lg-3 sidebar sidebar-left">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li class="active"><a href="{% url 'building' %}">Building Construction</a></li>
                                <li><a href="{% url 'electrical' %}">Electrical Installation</a></li>
                                <li><a href="{% url 'decorator' %}">Interiors &amp; Exteriors Decorator</a></li>
                                <li><a href="{% url 'manufacturing' %}">Bottle &amp; Pure Water</a></li>
                                <li><a href="{% url 'agriculture' %}">Agriculture</a></li>
                                <li><a href="{% url 'agriculture' %}">Fumigation &amp; Pests Control</a></li>
                            </ul>
                        </aside>
                        <!-- <aside class="widget widget-download">
                            <h3 class="widget-title">Downloads</h3>
                            <ul class="download">
                                <li><i class="fa fa-file-pdf-o"></i><a href="#">OUR BROCHURE PDF</a></li>
                                <li><i class="fa fa-file-pdf-o"></i><a href="#">OUR ISO CERTIFICATE</a></li>
                                <li><i class="fa fa-file-pdf-o"></i><a href="#">GREATE TECHNOLOGY</a></li>
                            </ul>
                        </aside>  -->
                        <!-- <aside class="widget widget_media_image">
                            <a href="{% url 'contact' %}"><img class="img-fluid" src="{% static 'fanimic/images/banner-image.jpg' %}" alt="banner-image"></a>
                        </aside> -->
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="ti ti-mobile"></i>(+234) 912 687 4608</li>
                                <li><i class="ti ti-comment"></i><a href="mailto:info@fanimic.com" target="_blank">info@fanimic.com</a></li>
                                <!-- <li><i class="ti ti-world"></i><a href="http://www.example.com/" target="_blank">http://www.example.com</a> -->
                                </li>
                                <li><i class="ti ti-location-pin"></i>25, Ayomide Street, Ijako Sango ota, Ogun State, Nigeria.</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon to Fri - 9:00am to 6:00pm <br>(Sunday Closed)</li>
                            </ul>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- ttm-sidebar end -->
        

        <section class="ttm-row bg-img8">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-4 res-767-mb-30">
                        <!-- featured-item -->
                        <div class="featured-item">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-5.jpg' %} " alt="">
                            </div>
                            <!-- featured-box -->
                            <div class="featured-box style5 box-shadow">
                                <div class="featured-icon icon-size-md icon-shape-square"> 
                                    <i class="flaticon flaticon-robot-arm"></i>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5> <span style="color: coral;">FUMIGATION</span> SERVICES</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>When you give us the responsibility to design 
                                            interiors for your house, we keep in mind the 
                                            things that make you tick and involve you wholly 
                                            into the conceptualizing process.</p>
                                        <!-- <a class="ttm-btn btn-inline ttm-icon-btn-right ttm-btn-color-skincolor" href="#">Read More<i class="ti ti-arrow-circle-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-box end -->
                        </div><!-- featured-item -->
                    </div>
                    <div class="col-md-4 res-767-mb-30">
                        <!-- featured-item -->
                        <div class="featured-item">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-9.jpg' %} " alt="blog-img">
                            </div>
                            <!-- featured-box -->
                            <div class="featured-box style5 box-shadow">
                                <div class="featured-icon icon-size-md icon-shape-square"> 
                                    <i class="flaticon flaticon-factory-4"></i>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5> <span style="color: coral;">RED OIL</span> Production</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>An interior designer working with an office 
                                            space will take in client requirements, 
                                            integrate them with good office design, and 
                                            look at various perspectives before finalizing on a solution.</p>
                                        <!-- <a class="ttm-btn btn-inline ttm-icon-btn-right ttm-btn-color-skincolor" href="#">Read More<i class="ti ti-arrow-circle-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-box end -->
                        </div><!-- featured-item -->
                    </div>
                    <div class="col-md-4 res-767-mb-30">
                        <!-- featured-item -->
                        <div class="featured-item">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'fanimic/images/farm/agri-8.jpeg' %} " alt="blog-img">
                            </div>
                            <!-- featured-box -->
                            <div class="featured-box style5 box-shadow">
                                <div class="featured-icon icon-size-md icon-shape-square"> 
                                    <i class="flaticon flaticon-conveyor"></i>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h5> <span style="color: coral;">Gardner</span> SERVICES</h5>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Our interior design experts, thoroughly understand 
                                            the personal tastes and likes of the clients and 
                                            transform them into amazing interior design solutions.</p>
                                        <!-- <a class="ttm-btn btn-inline ttm-icon-btn-right ttm-btn-color-skincolor" href="#">Read More<i class="ti ti-arrow-circle-right"></i></a> -->
                                    </div>
                                </div>
                            </div><!-- featured-box end -->
                        </div><!-- featured-item -->
                    </div>
                </div><!-- row end -->
            </div>
        </section>

    </div><!--site-main end-->

{% endblock %}
   