{% extends 'fanimic/base.html' %}
{% load static %}
{% block main_content %}
    
    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="title-box">
                        <div class="page-title-heading">
                            <h1 class="title">Gardner & Security</h1>
                        </div>
                        <div class="breadcrumb-wrapper">
                            <span>
                                <a title="Homepage" href="{% url 'index' %}"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
                            </span>
                            <span class="ttm-bread-sep"> &nbsp; ⁄ &nbsp;</span>
                            <span><span>Gardner & Security</span></span>
                        </div>  
                    </div>
                </div>  
            </div> 
        </div>                  
    </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

        <!-- ttm-sidebar -->
        <section class="ttm-sidebar ttm-bgcolor-grey clearfix">
            <div class="container">
                <!-- row -->
                <div class="row ttm-sidebar-left">
                    <div class="col-lg-9 content-area">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-35">
                                    <h3>Gardner & Security</h3>
                                    <p>
                                        Tectxon is one of leading company in 
                                        manufacturing &amp; petro chemical products. 
                                        We makes long-term investments goal in global 
                                        companies in different sectors, mainly in Europe 
                                        and other countries. We provide cost-effective 
                                        industrial solutions. Few can match for our promise 
                                        to safety and commitment to your product development.
                                        <strong> We offer the cleanest line of services </strong> 
                                        with latest technology, equipment.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 pr-5 res-767-plr-15"><img class="img-fluid pb-5" src="{% static 'fanimic/images/blog/01.jpg' %}" alt=""></div>
                            <div class="col-md-4 pl-0 res-767-plr-15">
                                <img class="img-fluid pb-5" src="{% static 'fanimic/images/blog/08.jpg' %}" alt="">
                                <img class="img-fluid pb-5" src="{% static 'fanimic/images/blog/03.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="mt-30 mb-35">
                            <h3>Why choose this service</h3>
                            <p>
                                Sed ut perspiciatis undeomnis iste natus error sit 
                                voluptatem accusantium dolore Totam rem aperiam with a 
                                long list of products and never ending customer support.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <!--featured-box-->
                                <div class="featured-box left-icon">
                                    <div class="featured-icon icon-shape-square icon-bgcolor-grey"> 
                                        <i class="flaticon flaticon-robot-arm"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Great Technology</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>
                                                We have strength and experience in this services 
                                                which allowed in successfully delivering projects 
                                                to number of clients
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- featured-box end-->
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <!--featured-box-->
                                <div class="featured-box left-icon">
                                    <div class="featured-icon icon-shape-square icon-bgcolor-grey"> 
                                        <i class="flaticon flaticon-cargo-ship"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Delivery On Time</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>
                                                We have strength and experience in this services 
                                                which allowed in successfully delivering projects 
                                                to number of clients
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- featured-box end-->
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <!--featured-box-->
                                <div class="featured-box left-icon">
                                    <div class="featured-icon icon-shape-square icon-bgcolor-grey"> 
                                        <i class="flaticon flaticon-factory-3"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Certified Engineers</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>
                                                We have strength and experience in this services 
                                                which allowed in successfully delivering projects 
                                                to number of clients
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- featured-box end-->
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <!--featured-box-->
                                <div class="featured-box left-icon">
                                    <div class="featured-icon icon-shape-square icon-bgcolor-grey"> 
                                        <i class="flaticon flaticon-factory-4"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Best Branding</h5>
                                        </div>
                                        <div class="featured-desc">
                                            <p>
                                                We have strength and experience in this services 
                                                which allowed in successfully delivering projects 
                                                to number of clients
                                            </p>
                                        </div>
                                    </div>
                                </div><!-- featured-box end-->
                            </div>
                        </div>
                        <div class="mt-15">
                            <h3>Our work benefits</h3>
                            <p>
                                It all started with an aim, an aim to value the true potential of 
                                real India. The people that strive day in and day out to run one 
                                of the largest agrarian economies in the world are residents of 
                                villages and districts where financial stability is still at an 
                                arm’s length.But it was really passion and belief that saw us 
                                through. A single-minded passion to become the country’s greatest 
                                resource for financial information on the Internet. We believe 
                                strongly that we can and must do things differently.
                            </p>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa 
                                quae ab illo inventore veritatis et quasi architecto beatae vitae 
                                dicta sunt explicabo.&nbsp;Nemo enim ipsam voluptatem quia 
                                voluptas&nbsp;sit aspernatur aut odit aut fugit.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 sidebar sidebar-left">
                        <aside class="widget widget-nav-menu">
                            <ul class="widget-menu">
                                <li class="active"><a href="{% url 'building' %}">Building Construction</a></li>
                                <li><a href="{% url 'agriculture' %}">Agriculture</a></li>
                                <li><a href="{% url 'manufacturing' %}">Bottle &amp; Pure Water</a></li>
                                <li><a href="{% url 'electrical' %}">Electrical Installation</a></li>
                                <li><a href="{% url 'decorator' %}">Interiors &amp; Exteriors Decorator</a></li>
                                <li><a href="{% url 'gardner' %}">Gardner &amp; Security</a></li>
                            </ul>
                        </aside>
                        <!-- <aside class="widget widget-download">
                            <h3 class="widget-title">Downloads</h3>
                            <ul class="download">
                                <li><i class="fa fa-file-pdf-o"></i><a href="#">OUR BROCHURE PDF</a></li>
                                <li><i class="fa fa-file-pdf-o"></i><a href="#">OUR ISO CERTIFICATE</a></li>
                                <li><i class="fa fa-file-pdf-o"></i><a href="#">GREATE TECHNOLOGY</a></li>
                            </ul>
                        </aside>  -->
                        <aside class="widget widget_media_image">
                            <a href="{% url 'contact' %}"><img class="img-fluid" src="{% static 'fanimic/images/banner-image.jpg' %}" alt="banner-image"></a>
                        </aside>
                        <aside class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>      
                            <ul class="contact-widget-wrapper">
                                <li><i class="ti ti-mobile"></i>(+234) 912 687 4608</li>
                                <li><i class="ti ti-comment"></i><a href="mailto:info@fanimic.com" target="_blank">info@fanimic.com</a></li>
                                <!-- <li><i class="ti ti-world"></i><a href="http://www.example.com/" target="_blank">http://www.example.com</a> -->
                                </li>
                                <li><i class="ti ti-location-pin"></i>25, Ayomide Street, Ijako Sango ota, Ogun State, Nigeria.</li>
                                <li><i class="ti ti-alarm-clock"></i>Mon to Fri - 9:00am to 6:00pm <br>(Sunday Closed)</li>
                            </ul>
                        </aside>
                    </div>
                </div><!-- row end -->
            </div>
        </section>
        <!-- ttm-sidebar end -->
        
    </div><!--site-main end-->

{% endblock %}
   